<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- Document Meta
============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Html5 Construction Landing Page">
<link th:href="@{assets/images/favicon/favicon.ico}" rel="icon">

<!-- Fonts
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,600,700,800%7CLora:400,400i,700,700i" rel="stylesheet">

<!-- Stylesheets
============================================= -->
    <link th:href="@{/assets/css/external.css}" rel="stylesheet">
    <link th:href="@{/assets/css/cons.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!-- Document Title
============================================= -->
<title>Khedma.TN</title>
</head>

<body class="body-scroll">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">

<!-- Header
============================================= -->
<header id="navbar-spy" class="header header-1 header-transparent header-fixed">
    <nav id="primary-menu" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="logo" th:href="@{/api/Getin}">
        <img class="logo-dark" th:src="@{/assets/images/logo/logo-dark.png}" alt="Logo">
        <img class="logo-light" th:src="@{/assets/images/logo/logo-dark.png}" alt="Logo">
        </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left nav-split nav-pos-right">
                    <li class="active"><a data-scroll="scrollTo" href="#hero">home</a>
                    </li>
                    <li><a data-scroll="scrollTo" href="#Services">services</a>
                    </li>
                    
                    <li><a data-scroll="scrollTo" href="#portfolio">Explore</a>
                    </li>
                    
                    <li><a data-scroll="scrollTo" href="#footer9">About</a>
                    </li>
                    <!-- hnaya arja3 lel portfolio -->
                    <li><a th:href="@{/api/createEmployeur}">Become a seller </a></li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>

<!-- Main img #12
============================================= -->
<section id="hero" class="section hero hero-12 text-center bg-overlay bg-overlay-dark bg-parallax fullscreen">
    <div class="bg-section">
        <img th:src="@{/assets/images/hero/1.jpg}" alt="Background" />
    </div>
    <div class="pos-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <div class="hero--content">
                        <h1 class="hero--headline">Create your own BUSINESS</h1>
                        <br>
                        <div class="hero--action">
                            <form class="form-inline">
                                <input type="text" class="form-control" id="your-address" name="email" placeholder="Exp: Graphic Design ">
                                
                                <a th:href="@{/api/Search}" ><button type="button" class="btn btn--primary btn--rounded btn--inverse mb-30">Serach</button></a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- .col-md-10 end -->
            </div>
            <!-- .row end -->
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #hero12 end -->

<!-- Feature #1 
============================================= -->
<section class="cards" id="Services"> 
    <h3 class="title"></h3>
    <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-pen-nib"></i>
            </div>
            <div class="info">
                <h3>Graphics & Design</h3>
            </div>
        

        </div>

        <div class="card">
            <div class="icon">
             <i class="fa-solid fa-paragraph"></i>
            </div>
            <div class="info">
                <h3>Writing & Translation</h3>
            </div>
        

        </div>

        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-microchip"></i>
            </div>
            <div class="info">
                <h3>Programming & Tech </h3>
            </div>
        

        </div>
                           
    </div>
</section>
<!-- #feature end -->

<!-- Portfolio #1
============================================= -->
<section id="portfolio" class="section portfolio portfolio-grid portfolio-2 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading text-center mb-70">
                    <h2 class="heading--title">Explore </h2>
                    <p class="heading--desc">Inspiring projects made on Khedma.TN</p>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Projects Filter
            ============================================= -->
            <div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
                <ul class="list-inline">
                    <li><a class="active-filter" href="#" data-filter="*">All</a></li> 
                    <li><a href="#" data-filter=".filter-building">Graphic Design</a></li>   
                    <li><a href="#" data-filter=".filter-construction">Writing & Translation</a></li>
                    <li><a href="#" data-filter=".filter-planning">Programming & Tech</a></li>
                </ul>
            </div>
            <!-- .projects-filter end --> 
        </div>	
        <!-- .row end --> 
        <div id="portfolio-all" class="row">
            <!-- Portfolio Item #1 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-building">
                    <div class="portfolio--img">
                        <img th:src="@{/assets/images/portfolio/constructions/full/4.jpg}" alt="portfolio image" />
                        <div class="portfolio--hover">
                            <div class="portfolio--meta">
                                <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/4.jpg}"></a></div>
                                <a href="portfolio/potfolio.html" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                            </div>
                        </div>
                        <!-- .portfolio-hover end -->
                    </div>
                    <!-- .portfolio-img end -->
            </div>
            <!-- .portfolio-item end -->

            <!-- Portfolio Item #2 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-construction">
                <div class="portfolio--img">
                    <img th:src="@{/assets/images/portfolio/constructions/full/1.jpg}" alt="portfolio image" />
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/1.jpg}"></a></div>
                            <a href="" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                        </div>
                    </div>
                    <!-- .portfolio-hover end -->
                </div>
                <!-- .portfolio-img end -->
            </div>
            <!-- .portfolio-item end -->

            <!-- Portfolio Item #3 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-planning">
                <div class="portfolio--img">
                    <img th:src="@{/assets/images/portfolio/constructions/full/2.jpg}" alt="portfolio image" />
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/2.jpg}"></a></div>
                            <a href="" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                        </div>
                    </div>
                    <!-- .portfolio-hover end -->
                </div>
                <!-- .portfolio-img end -->
            </div>
            <!-- .portfolio-item end -->

            <!-- Portfolio Item #4 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-construction">
                <div class="portfolio--img">
                    <img th:src="@{/assets/images/portfolio/constructions/full/3.jpg}" alt="portfolio image" />
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/3.jpg}"></a></div>
                            <a href="" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                        </div>
                    </div>
                    <!-- .portfolio-hover end -->
                </div>
                <!-- .portfolio-img end -->
            </div>
            <!-- .portfolio-item end -->

            <!-- Portfolio Item #5 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-building">
                <div class="portfolio--img">
                    <img th:src="@{/assets/images/portfolio/constructions/full/7.jpg}" alt="portfolio image" />
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/7.jpg}"></a></div>
                            <a href="" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                        </div>
                    </div>
                    <!-- .portfolio-hover end -->
                </div>
                <!-- .portfolio-img end -->
            </div>
            <!-- .portfolio-item end -->

            <!-- Portfolio Item #6 -->
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-planning">
                <div class="portfolio--img">
                    <img th:src="@{/assets/images/portfolio/constructions/full/6.jpg}" alt="portfolio image" />
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item" th:href="@{/assets/images/portfolio/constructions/full/6.jpg}"></a></div>
                            <a href="" class="btn btn_animated"><span class="circle">view freelancer</span></a>
                        </div>
                    </div>
                    <!-- .portfolio-hover end -->
                    </div>
                    <!-- .portfolio-img end -->
            </div>
             <!-- .portfolio-item end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #portfolio1 end -->




<!-- Footer #9
============================================= -->
<footer id="footer9" class="footer footer-5 footer-8 footer-9 bg-white text-center-xs pt-0 pb-0">
    
    <div class="footer-widget">
        <div class="container">
            <div class="row widget--boxes text-center">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget--info-box">
                        <i class="ti-home"></i>
                        <h4>Address</h4>
                        <p>Bizerte,Jarzouna<br>Faculte de science Bizerte </p>
                    </div>
                    <!-- .widget-info-box end -->
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget--info-box">
                        <i class="ti-mobile"></i>
                        <h4>Phone</h4>
                        <p>Phone: 53 508 338</p>
                        
                    </div>
                    <!-- .widget-info-box end -->
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget--info-box">
                        <i class="ti-email"></i>
                        <h4>Email</h4>
                        <p>Khedma.tn@gmail.com</p>
                        
                    </div>
                    <!-- .widget-info-box end -->
                </div>
                <!-- .col-md-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget--copyright" >
                        <span>&copy; Khedma.TN, All Rights Reserved.</span>
                    </div>
                </div>
                <!-- .col-md-6 end -->
                
                <!-- .col-md-6 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer bar end -->
</footer>
<!-- #footer9 end -->

</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script th:src="@{/assets/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/functions.js}"></script>
</body>
</html>